@tailwind base;
@tailwind components;
@tailwind utilities;

/* AnnualStudyHeatmap 스케일 별 컬러 */
.react-calendar-heatmap .color-scale-1 {
    fill: #e5d5fc;
}
.react-calendar-heatmap .color-scale-2 {
    fill: #c19af9;
}
.react-calendar-heatmap .color-scale-3 {
    fill: #9d65f4;
}
.react-calendar-heatmap .color-scale-4 {
    fill: #8a43ef;
}
.react-calendar-heatmap
    > .react-calendar-heatmap-month-labels
    > .react-calendar-heatmap-month-label {
    font-size: 8px;
}

/* 커스텀 스크롤 */
.custom-scrollbar::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #8a43ef;
    border-radius: 8px;
}
.custom-scrollbar::-webkit-scrollbar-track {
    background-color: #eaebed;
    border-radius: 8px;
}

/* Input 자동 입력시 브라우저 기본 CSS 방지지 */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-text-fill-color: #0a0b0d;
    -webkit-box-shadow: 0 0 0px 1000px transparent inset;
    box-shadow: 0 0 0px 1000px transparent inset;
    transition: background-color 5000s ease-in-out 0s;
}
input:-webkit-autofill:disabled {
    -webkit-text-fill-color: #9fa4a8;
}
input:autofill,
input:autofill:hover,
input:autofill:focus,
input:autofill:active {
    -webkit-text-fill-color: #0a0b0d;
    -webkit-box-shadow: 0 0 0px 1000px transparent inset;
    box-shadow: 0 0 0px 1000px transparent inset;
    transition: background-color 5000s ease-in-out 0s;
}
input:autofill:disabled {
    -webkit-text-fill-color: #9fa4a8;
}
